.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #f0f8fd, #b7dfff);
}

.login-card {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-logo {
  max-width: 100%;
  margin-bottom: 1rem;
  height: auto;
  object-fit: contain;
}

.full-width {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top:0rem;
  
}

.error-message {
  margin-top: 0.5rem;
  color: red;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.forgot-password {
  margin-top: 1rem;
}
