.full-width {
  width: 100%;
}

.error-msg {
  color: red;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}
