<div class="login-container" [@cardEnter]>

  <mat-card class="login-card">

    <!-- Logo -->
    <img src="assets/logo.png" class="login-logo" alt="Logo" />

    <form [formGroup]="form" class="login-form" autocomplete="off">

      <!-- Correo -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="correo" />
        <mat-error *ngIf="form.get('correo')?.hasError('required')">El correo es obligatorio</mat-error>
        <mat-error *ngIf="form.get('correo')?.hasError('email')">Debe ingresar un correo válido l</mat-error>
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('minlength')">Mínimo 8 caracteres</mat-error>
      </mat-form-field>

      <!-- Error general -->
      <div class="error-message" *ngIf="errorLogin">
        <mat-icon color="warn">error</mat-icon>
        <span>{{ errorLogin }}</span>
      </div>

      <!-- Botón Login funcional para WebView -->
      <button mat-raised-button color="primary" class="full-width ripple-ionic" type="button" (click)="onSubmit()"
        [disabled]="form.invalid" matRipple [matRippleCentered]="true">
        Ingresar
      </button>

      <!-- Botón biométrico premium -->
      <button *ngIf="biometricAvailable" mat-stroked-button color="primary" class="full-width ripple-ionic pulse-button"
        type="button" (click)="loginWithBiometrics()" matRipple [matRippleColor]="'rgba(25, 118, 210, 0.4)'"
        [matRippleCentered]="true">
        <mat-icon class="pulse-icon">fingerprint</mat-icon>
        Acceder con biometría
      </button>

      <!-- Registro -->
      <!-- Registro -->
      <button mat-stroked-button class="full-width ripple-ionic btn-verde" type="button"
        (click)="router.navigate(['/registro'])" matRipple>
        Registrarse
      </button>

      <!-- Olvidaste contraseña -->
      <div class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>

    </form>

  </mat-card>

</div>