.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
    h2 {
      margin: 0;
      color: #333;
    }
  }
  
  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  mat-card-content {
    position: relative;
    min-height: 200px;
  }
  
  .text-right {
    text-align: right;
  }
