.activo {
  color: green;
  font-weight: bold;
}

.inactivo {
  color: red;
  font-weight: bold;
}

.usuarios-container {
  padding: 24px;
}

.sin-usuarios {
  text-align: center;
  font-style: italic;
}
