<mat-sidenav-container class="sidenav-container" autosize>

  <!-- Barra lateral -->
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-toolbar color="primary">
      Barbería Admin
    </mat-toolbar>

    <mat-nav-list *ngIf="rol === 'admin'">
      <a
        mat-list-item
        *ngFor="let ruta of rutasAdmin"
        [routerLink]="ruta.path"
        routerLinkActive="active-link"
        class="nav-item"
      >
        <mat-icon class="icono-menu" [ngClass]="ruta.colorClase">{{ ruta.icono }}</mat-icon>
        <span class="nav-label">{{ ruta.nombre }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Panel de Administración</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
