<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/signup">Crear Usuario</a>
      <a mat-list-item (click)="logout()">Cerrar Sesión</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="hide-on-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Barbería App</span>
      <span class="spacer"></span>
      <span *ngIf="usuario">Hola, {{ usuario?.nombre }}</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
