@use '@angular/material' as mat;

// Core de Material
@include mat.core();

// 🎨 Paletas de colores personalizadas
$jevo-primary: mat.define-palette(mat.$blue-palette, 900, 800, 700);
$jevo-accent: mat.define-palette(mat.$grey-palette, 400, 300, 500);
$jevo-warn: mat.define-palette(mat.$red-palette);

// 🌞 Tema claro personalizado
$jevo-theme: mat.define-light-theme((
  color: (
    primary: $jevo-primary,
    accent: $jevo-accent,
    warn: $jevo-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// 🔥 Aplica los estilos de Material con tu tema
@include mat.all-component-themes($jevo-theme);

.snackbar-success {
  background-color: #4caf50 !important;
  color: #fff !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: #fff !important;
}
